@font-face {
  font-family: "Montserrat Variable";
  font-display: swap;
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --primary-color: #42b4ca;
  --secondary-color: #bfde42;
  --light-color: #f4f4f4;
  --light-grey: #9e9e9e;
  --grey: #3b3b3b;
  --dark-color: #2b2b2b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat Variable", sans-serif;
  background-color: var(--dark-color);
}

.loading {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid var(--light-color);
  border-top: 4px solid var(--secondary-color);
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 20px 0;
  background-color: var(--light-color);
}
.header__nav {
  text-align: end;
}
.header__nav a {
  font-size: large;
  font-variation-settings: "wght" 500;
  text-decoration: none;
  color: var(--dark-color);
}
.header__nav a:hover {
  color: var(--primary-color);
}
.header__logo a {
  display: flex;
  -webkit-tap-highlight-color: transparent;
}
.header__logo img {
  width: 100%;
  height: 100%;
}

.main {
  display: grid;
  grid-template-columns: minmax(auto, 976px);
  justify-content: center;
  padding: 40px 20px;
  background-color: var(--dark-color);
}
.main__title {
  padding-bottom: 12px;
  font-size: x-large;
  font-variation-settings: "wght" 500;
  letter-spacing: 2px;
  text-align: end;
  color: var(--light-color);
  border-bottom: 2px solid var(--grey);
}
.characters {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding-top: 28px;
}

.character-item {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px var(--light-grey) inset;
  background-color: var(--grey);
  animation: fade 2s;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.character-item a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.character-item img {
  width: 100%;
  height: 100%;
}
.character-item h2 {
  padding: 32px 20px;
  color: var(--primary-color);
  font-size: large;
  font-variation-settings: "wght" 400;
}
.character-item h2:hover {
  color: var(--secondary-color);
}

.character-inner {
  display: grid;
  gap: 24px;
}
.character-card {
  animation: fade 1.5s;
}
.character-card h2 {
  color: var(--secondary-color);
}
.character-card img {
  width: 100%;
  padding-top: 28px;
  border-radius: 8px;
}
.character-card ul {
  display: grid;
  gap: 20px;
  margin-left: 20px;
  color: var(--light-color);
}
.character-card h3 {
  font-size: medium;
  font-variation-settings: "wght" 500;
  letter-spacing: 1px;
  text-align: left;
}
.character-card span {
  font-size: medium;
  font-variation-settings: "wght" 300;
  color: var(--light-grey);
}

@media (min-width: 480px) {
}
